.home-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
  height: auto;
  justify-content: center;
  gap: 40px;
}


.main_content {
  min-width: 45%;

}

.home_heading {
  text-align: center;
  text-decoration: underline;
  cursor: default;
}


.semiheading {
  text-decoration: none;
  word-spacing: 20px;
  letter-spacing: 5px;
}

.home_logo {
  width: 22vw;
  max-width: 300px;
  min-width: 90px;
}

.logo_and_text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_search_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_inp {
  height: 55px;
  flex: 1;
  font-size: x-large;
  border-radius: 30px;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.856)
}

.search_btn {
  height: 55px;
  width: 55px;
  border: none;
  background-color: #ff5100;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 20px;
}

.search_results_clild {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.search_results_clild img {
  width: 25vw;
  min-width: 77px;
  max-width: 400px;
  object-fit: cover;
}

.search_res_texts {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.search_results_clild p {
  font-size: x-large;
  font-style: bold;
  margin: 0;
}

.search_results_clild button {
  font-size: x-large;
  margin-left: 30px;
  background-color: #b6b4b4;
  border: none;
  opacity: 0.6;
}

.how_to_use {
  width: 45%;
}

.how_to_use p {
  font-size: 2vh;
}

.how_to_use h1 {
  font-size: 3.5vh;
}

.review_area div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.review_area img {
  width: 10vw;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.17s ease-in;
}

.review_area img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.review_content textarea {
  width: 40vw;
  height: 30vh;
  font-size: 2vh;
  resize: none;
}

.review_name textarea {
  height: 20px;
  width: 40vw;
  margin-top: 10px;
  font-size: 2vh;
  text-align: center;
  resize: none;
}

.search_results_clild button {
  padding: 10px;
}

.review_area h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #bd1a1a;
  margin: 0;
}

@media (max-width: 1845px) {
  .content-area {
    width: 90%;
  }

  .review_content textarea {
    width: 90%;
    height: 40vh;
  }

  .review_name textarea {
    width: 90%;
    height: 30px;
  }
}

@media (max-width: 780px) {
  .home_heading {
    font-size: 20px;
    margin: 0;
    text-decoration: none;
  }

  .semiheading {
    font-size: 14px;
    word-spacing: 1vw;
  }

  .search_text_res button {
    font-size: 16px;
    padding: 4px;
  }

  .search_res_texts p {
    font-size: 18px;
  }

  .logo_and_text h2 {
    margin-top: 2px;
  }
}

@media (max-width: 600px) {
  .search_results_clild button {
    margin-left: 5px;
    font-size: 12px;
    width: 65px;
    padding: 4px;
  }
}

@media (max-width: 480px) {
  .home_heading {
    font-size: 12px;
  }

  .semiheading {
    font-size: 8px;
  }

  .search_results_clild button {
    margin-left: 2px;
    font-size: 9px;
    padding: 2px 8px;
    width: auto;
  }
}

@media (max-width:360px) {
  .logo_and_text h2 {
    font-size: 14px;
    margin-bottom: 5px;
  }


  .home_search_area input {
    height: 38px;
    font-size: 15px;
  }

  .home_search_area img {
    height: 20px;
    width: 20px;
  }

  .home_search_area button {
    height: 38px;
    width: 38px;
    margin-left: 5px;
  }

  .search_results_clild img {
    width: 30px;
  }

  .search_res_texts {
    margin-left: 5px;
    height: auto;
  }

  .search_results_clild p {
    font-size: 10px;
    padding: 0;
  }

  .explanations_download h1 {
    font-size: 18px;
  }

  .explanations_download p {
    font-size: 12px;
  }

  .review_area h1 {
    font-size: 18px;
  }
}