.content {
  min-height: 100vh;
  width: 100%;
  background-color: #fffcf8;
  color: rgb(0, 1, 32);
}

i {
  color: red;
}

.blacklogo {
  filter: invert(100%);
}

.youtube_img {
  width: 10rem;
}

img {
  display: inline-block;

}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* LOADER */
/* HTML: <div class="loader"></div> */
.loader {
  margin: 0 auto;
  width: fit-content;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  overflow: hidden;
  color: #0000;
  text-shadow: 0 0 0 #000, 10ch 0 0 #000;
  background: linear-gradient(#000 0 0) bottom left/0% 3px no-repeat;
  animation: l14 1.5s infinite;
}

@keyframes l14 {
  80% {
    text-shadow: 0 0 0 #000, 10ch 0 0 #000;
    background-size: 100% 3px
  }

  100% {
    text-shadow: -10ch 0 0 #000, 0 0 0 #000
  }
}

@media (max-width: 480px) {
  .loader {
    font-size: 18px;
  }
}